body {
	background-color: #CE49BF;
    color: whitesmoke;
    font size: 25px;
    font-family: swap;
    font font-weight: lighter;
}

h1,h2 {
	font-family: swap;
	color: #357C3C;
}

h1 {
	font-size: 50px;
	font-weight: 900;
	font-weight: bolder;

}

h2 { 
	color: #357C3C;
	font-size: 20px;
	font-weight: 500;
 }

div {
background-color: #E4AEC5;
padding: 40px;
border- border-radius: 5px;
box-shadow: 0px 10px 30px;
text-align: center;
width: 600px;
margin: 30px auto;
}

img{
	border-radius: 50%;
	width: 350px;
} 

a { 
	background-color: whitesmoke;
	color: #E4AEC5;
	border-radius: 4px;
	padding:10px 10px ;
	text-decoration: yes;
	font-family: swap;
	font-weight: bold;
	text-align: center;

 }

 a:hover {
 	background-color: #C3E5AE;
 	color:rgb(>30,30,30);
 }

i { 
	font-size: 40px;
 }

 #Facebook {
 padding:20px 05px 
}

.img-circle {
	border-radius: 60%;
}